.slide {
  position: relative;
  display: flex;
  width: calc(1366px * 0.6);
  height: calc(768px * 0.6);
  flex-direction: row;
  border: 1px solid #dbdedc;
  gap: 20px;
}

.select {
  box-shadow: 0 0 20px #000;
  outline: 10px solid #00f;
}
