.workspace {
  display: flex;
  margin: 30px 200px;
}

.new-slide {
  position: absolute;
  display: flex;
  width: calc(1366px * 0.6);
  height: calc(768px * 0.6);
  align-items: center;
  justify-content: center;
  border: 2px dashed #999;
  border-radius: 15px;
  background: none;
  color: #999;
  cursor: pointer;
  font:
    400 italic 24px/1 Roboto,
    sans-serif;
}
