.slide-bar {
  display: flex;
  min-width: 320px;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  border-right: 1px solid #c4c7c5;
  gap: 15px;
  overflow-y: auto;
}

.element {
  display: flex;
}

.index {
  color: #1f1f1f;
  font:
    500 normal 28px/1 Roboto,
    sans-serif;
}

.wrapper {
  width: calc(1366px * 0.1);
  height: calc(768px * 0.2);
  margin-left: 20px;
}

.slide {
  overflow: hidden;
  transform: scale(0.3);
  transform-origin: 0 0;
}
