.body {
  display: flex;
  width: 200px;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 6px;
  font:
    400 normal 14px/1.5 Roboto,
    sans-serif;
}

.body:hover {
  background: #44474614;
}
