.menu__bar_button {
  padding: 2px 7px;
  border: none;
  border-radius: 4px;
  color: #202124;
  cursor: pointer;
  font:
    400 normal 14px/1.5 Roboto,
    sans-serif;
}

.menu__bar_button:hover {
  background: #44474614;
}
